.creditNum {
    position: relative;

    img {
        position: absolute;
        top: 60%;
        right: 22px;
    }
}

.checkout-sucess {
    height: 518px;
    background-image: url(../images/payment_success.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}