.navbar {
    .navbar-nav .nav-link {
        position: relative;
        border-bottom: 3px solid transparent;

        &:hover {
            border-bottom: 3px solid $secondary-dark;
            background: $secondary-light;
            transition: .2s;
        }
    }
}

.footer {
    .subscribe-icon {
        input[type=text] {
            background-image: url('../images/mail-24px.png');
            background-position: 20px 16px;
            background-repeat: no-repeat;
            text-indent: 40px;
        }
    }
}